In [12]:
import pandas as pd
import numpy as np
import sys, os , time, pickle
from tabulate import tabulate
from IPython.display import display

methods_list_aux = {'hardMV':'hard-MV', 'softMV': 'soft-MV', 'DS':'D&S', "Raykar": "Raykar", 
                   'OursGlobal': 'Ours Global','OursIndividualK': 'Ours Individual', 'OursIndividualT':'Ours Individual' }

    
def find_match(string,list_des):
    return [value for value in list_des if string in value]

def plot_files(file_name):
    print("\nFile to show: ",file_name)
    table = pd.read_csv(file_name)
    display(table)
    #print(tabulate(table, headers='keys', tablefmt='rst')) #latex
    
def calculate_aux(archivo,what_to_do="mv",model=""):
    try:
        f = open(archivo)
        result_list = []
        for line in f.readlines():
            if what_to_do == "mv":
                if "ACC MV" in line: 
                    result_list.append(float(line.split(" ")[-1].strip()))
            elif what_to_do == 'epochs':
                if "Epochs to converge" in line and model in line: 
                    result_list.append(float(line.split(" ")[-1].strip()))
        f.close()
        return result_list
    except:
        return "-"
    
def compare_table(tipo,repre="normal", std=False):
    t = pd.DataFrame()
    t["Methods"] = ["Ann(tr)"]+methods_list
    t["Train"] = ["-"] + ["-" for _ in range(len(methods_list))]
    t["Test"] = ["-"] + ["-" for _ in range(len(methods_list))]
    if tipo == 'acc':
        try:
            t.loc[0,"Train"] =  round(np.mean(calculate_aux(folder+"results.txt",what_to_do="mv"))*100,2)
        except:
            try:
                t.loc[0,"Train"] =  round(np.mean(calculate_aux(folder+"results_ind.txt",what_to_do="mv"))*100,2)
            except:
                print("No se encontrÃ³ acc")
            
    for k, method in enumerate(methods_list):
        aux = find_match(method,files)
        if tipo == "acc" or tipo=="f1": #como normal?
            if tipo=="acc":
                to_extract = "Accuracy"
            elif tipo == "f1":
                to_extract = "F1 (macro)"
            if std:
                train_aux = find_match("_train_std.csv",aux)
                if len(train_aux) != 0:
                    t.loc[k+1,"Train"] = round(pd.read_csv(folder+train_aux[-1])[to_extract][0]*100, 2)
                test_aux = find_match("_test_std.csv",aux)
                t.loc[k+1,"Test"] = round(pd.read_csv(folder+test_aux[-1])[to_extract][0]*100, 2)
            else:
                train_aux = find_match("_train.csv",aux)
                if len(train_aux) != 0:
                    t.loc[k+1,"Train"] = round(pd.read_csv(folder+train_aux[-1])[to_extract][0]*100, 2)
                test_aux = find_match("_test.csv",aux)
                t.loc[k+1,"Test"] = round(pd.read_csv(folder+test_aux[-1])[to_extract][0]*100, 2)

        elif "norm" in tipo.lower() or "js" in tipo.lower():
            if std:
                kl_aux = find_match("_train_std.csv",aux)
            else:
                kl_aux = find_match("_train.csv",aux)
            
            if len(kl_aux) != 0:                
                if repre=="R":
                    to_extract = "("+repre+") "+tipo+ " mean"
                elif repre=='G':
                    to_extract = "("+repre+") "+tipo
                try:
                    t.loc[k+1,"Train"] = round(pd.read_csv(folder+kl_aux[-1])[to_extract][0] ,3)
                except:
                    pass
        elif tipo == "epochs":
            t.loc[k+1,"Train"]=np.mean(calculate_aux(folder+"results.txt",what_to_do="epochs",model=methods_list_aux[method]))
    return t

def get_value(lista, name, std=False):
    i = 0
    if std:
        i = 1
    return np.asarray([value[i][name][0] if type(value[i])== pd.DataFrame else -9999 for value in lista] )

def create_df(method_l,T_try, value, file_re = "./results.txt",digits=4):
    t = pd.DataFrame(np.zeros((len(method_l)+1,len(T_try))))    
    t.columns = T_try
    t.index = ["Ann(tr)"]+method_l
    t_std = t.copy()
    
    if value.lower() == "accuracy" or "F1" in value.lower():
        if len(calculate_aux(file_re,what_to_do="mv")) > len(T_try) +1:
            aux2 = calculate_aux(file_re,what_to_do="mv")
            aux = [np.mean(aux2[i:30*(i+1)]) for i in range(0,len(aux2),30)]
            aux2 = [np.std(aux2[i:30*(i+1)]) for i in range(0,len(aux2),30)]
        else:
            aux = calculate_aux(file_re,what_to_do="mv")
            aux2 = np.zeros((len(T_try)))
        t.loc["Ann(tr)",:] = aux
        t_std.loc["Ann(tr)",:] = aux2
        for method_l in methods_list:
            t.loc[method_l,:] = get_value(dic_res[method_l]["test"], value)
            t_std.loc[method_l,:] = get_value(dic_res[method_l]["test"], value, std=True)

    elif "inertia" in value.lower() or "iner" in value.lower():
        for method_l in methods_list:
            if "Ours" in method_l:
                t.loc[method_l,:] = get_value(dic_res[method_l]["testAux"], value)
                
    else:
        t.index = ["D_t"]+method_l
        t.loc["D_t",:] = D_t
        for method_l in methods_list:
            t.loc[method_l,:] = get_value(dic_res[method_l]["train"], value)
            t_std.loc[method_l,:] = get_value(dic_res[method_l]["train"], value, std=True)
    return t.round(digits), t_std.round(digits)

!ls

Airline_	Fashion_Q3_0.7	   Fashion_Q6_0.5      Sentiment_Tol3
Airline_det	Fashion_Q4	   LabelMe	       Sentiment_Tol5
CIFAR_T		Fashion_Q4_0.6	   LabelMe_v2	       simple_T
Fashion_Q1_0.6	Fashion_Q4_0.6_T3  Plot_Results.ipynb

In [13]:
!ls Airline_
folder = "Airline_/"

files = sorted(os.listdir(folder))
methods_list = list(set([f.split("_")[1] for f in os.listdir(folder) if (len(f.split("_")) >2) and ("UpperBound" not in f)]))
methods_list

AirlineS_hardMV_test.csv	     AirlineS_OursGlobal_trainAnn.csv
AirlineS_hardMV_test_std.csv	     AirlineS_OursGlobal_trainAnn_std.csv
AirlineS_hardMV_trainAnn.csv	     AirlineS_softMV_test.csv
AirlineS_hardMV_trainAnn_std.csv     AirlineS_softMV_test_std.csv
AirlineS_OursGlobal_testAux.csv      AirlineS_softMV_trainAnn.csv
AirlineS_OursGlobal_testAux_std.csv  AirlineS_softMV_trainAnn_std.csv
AirlineS_OursGlobal_test.csv	     results.txt
AirlineS_OursGlobal_test_std.csv

['hardMV', 'OursGlobal', 'softMV']

In [14]:
t_acc = compare_table("acc")
t_acc_std = compare_table("acc", std=True)

t_norm_R = compare_table("NormF","R")
t_norm_R_std = compare_table("NormF","R", std=True)
t_js_R = compare_table("JS","R")
t_js_R_std = compare_table("JS","R",  std=True)

t_norm_G = compare_table("NormF","G")
t_norm_G_std = compare_table("NormF","G", std=True)
t_js_G = compare_table("JS","G")
t_js_G_std = compare_table("JS","G", std=True)

#t_epochs = compare_table("epochs")

/home/casapanshop/anaconda2/envs/py3/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/casapanshop/anaconda2/envs/py3/lib/python3.5/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [8]:
## Q4 -- 0.6 (test es los que fueron eliminados)
from IPython.display import display
display(t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True))
t_acc = compare_table("f1")
t_acc_std = compare_table("f1", std=True)
display(t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True))

           Methods Train_x Test_x Train_y Test_y
0          Ann(tr)   60.19      -   60.19      -
1  OursIndividualT   66.24  76.63    0.26   0.83
2           softMV   62.31  75.93    0.34   0.56
3               DS    62.4  76.49    0.41   0.38
4           hardMV   60.11  74.14    0.34   0.45
5       OursGlobal   65.22  77.45     0.4   0.85
6           Raykar   64.38  78.45    0.21   0.51
7  OursIndividualK    65.1  75.26    0.55   1.01

           Methods Train_x Test_x Train_y Test_y
0          Ann(tr)       -      -       -      -
1  OursIndividualT   65.26  73.38    0.31   0.78
2           softMV   60.48  70.92    0.84   0.96
3               DS   58.16  69.15    1.13   1.13
4           hardMV   51.02  60.66    0.84   1.01
5       OursGlobal   63.56  73.06    0.72   1.29
6           Raykar   62.76  74.37    0.69   0.62
7  OursIndividualK   62.88  70.16    1.31   1.37

In [24]:
## Q4 -- 0.5 (test es los que fueron eliminados + otros de train)
from IPython.display import display
display(t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True))
t_acc = compare_table("f1")
t_acc_std = compare_table("f1", std=True)
display(t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True))

           Methods   Train_x  Test_x   Train_y  Test_y
0          Ann(tr)  0.686195       -  0.686195       -
1       OursGlobal    0.6777  0.6532    0.0044  0.0055
2           Raykar    0.6551   0.662     0.002  0.0022
3           hardMV    0.6219  0.6221    0.0021  0.0042
4           softMV    0.6402  0.6463    0.0021  0.0045
5  OursIndividualT    0.6979  0.6439     0.003  0.0035
6               DS    0.6364  0.6399    0.0023   0.004
7  OursIndividualK    0.6976   0.638    0.0031  0.0069

           Methods Train_x  Test_x Train_y  Test_y
0          Ann(tr)       -       -       -       -
1       OursGlobal  0.6602  0.6295  0.0079  0.0101
2           Raykar    0.64  0.6436  0.0058  0.0064
3           hardMV  0.5406  0.5329  0.0064  0.0102
4           softMV  0.6213  0.6228  0.0064  0.0094
5  OursIndividualT  0.6867  0.6269  0.0036  0.0028
6               DS  0.5951  0.5942  0.0075  0.0099
7  OursIndividualK  0.6822  0.6166  0.0049  0.0077

In [15]:
from IPython.display import display
display(t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True))

t_acc = compare_table("f1")
t_acc_std = compare_table("f1", std=True)
display(t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True))

      Methods Train_x Test_x Train_y Test_y
0     Ann(tr)     NaN      -     NaN      -
1      hardMV       -  92.75       -   2.22
2  OursGlobal       -  93.75       -   3.67
3      softMV       -  93.12       -   1.92

      Methods Train_x Test_x Train_y Test_y
0     Ann(tr)       -      -       -      -
1      hardMV       -  87.25       -   3.45
2  OursGlobal       -   87.6       -   6.62
3      softMV       -  87.85       -   2.91

In [10]:
t_epochs

           Methods    Train Test
0          Ann(tr)        -    -
1  OursIndividualT  24.8163    -
2  OursIndividualK  24.8163    -
3           softMV        4    -
4       OursGlobal     13.5    -
5               DS        4    -
6           Raykar   5.0425    -
7           hardMV        4    -

In [18]:
t_acc = compare_table("acc")
t_acc_std = compare_table("acc", std=True)
aux = t_acc.merge(t_acc_std.iloc[:,1:], left_index=True, right_index=True)

#aux = t_js_R.merge(t_js_R_std.iloc[:,1:], left_index=True, right_index=True)
#aux = t_js_G.merge(t_js_G_std.iloc[:,1:], left_index=True, right_index=True)

aux_str = tabulate(aux,headers='keys',tablefmt='latex').split("\n")[2:-2]
columns = [a.replace('\\' , '').strip() for a in aux_str[0].split("&")[1:]]

text = "" 
for value in aux_str[2:]:
    split_v = [a.replace('\\' , '').strip() for a in value.split("&")]
    text += split_v[1].strip() + " & "
    for i, a in enumerate(split_v[1:]):
        if "x" in columns[i]:
            for j, b in enumerate(split_v[1:]):
                if columns[i].replace("x","y") == columns[j]:
                    text += "$"+ str(a) + " \pm " + str(b)+ "$"
                    if columns[j] != columns[-1]: #si no es el ultimo
                        text +=   " & "   
    text += " \\\ \n"
print(text)

Ann(tr) & $nan \pm nan$ & $- \pm -$ \\
hardMV & $- \pm -$ & $92.75 \pm 2.22$ \\
OursGlobal & $- \pm -$ & $93.75 \pm 3.67$ \\
softMV & $- \pm -$ & $93.12 \pm 1.92$ \\

/home/casapanshop/anaconda2/envs/py3/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/casapanshop/anaconda2/envs/py3/lib/python3.5/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

## T change

In [10]:
folder = "./CIFAR_T/"

In [11]:
to_check = [100,500,1500,3500,6000,10000]

if 'simple' in folder.lower():
    T_data = 5 #for now is this..
    N = 2500
elif "cifar" in folder.lower():
    T_data = 3
    N = 50000
D_t = np.asarray([N*T_data/T for T in to_check])

files_f = [f for f in os.listdir(folder) if ".pickle" in f]
dic_res = {}
for file in files_f:
    #if len(file.split("_")) >2:
    _, method_name, method_type = (file.split(".pickle")[0]).split("_")
    with open(folder+file, 'rb') as handle:
        if method_name in dic_res:
            dic_res[method_name][method_type] = pickle.load(handle)
        else:
            dic_res[method_name] = {}
            dic_res[method_name][method_type] = pickle.load(handle)
methods_list = list(dic_res.keys())
methods_list

['OursIndividualT',
 'DS',
 'OursGlobal',
 'hardMV',
 'Raykar',
 'softMV',
 'OursIndividualK']

In [19]:
t, t_std = create_df(methods_list, to_check,"Accuracy", file_re=folder+'results.txt')
t.merge(t_std, left_index=True, right_index=True)

,100_x,500_x,1500_x,3500_x,6000_x,10000_x,100_y,500_y,1500_y,3500_y,6000_y,10000_y
Ann(tr),0.7314,0.7314,0.7314,0.7314,0.7314,0.7314,0.0091,0.0091,0.0091,0.0091,0.0091,0.0091
OursIndividualT,0.8059,0.8088,0.8121,0.8083,0.8102,0.8146,0.0036,0.0069,0.0080,0.0063,0.0039,0.0085
DS,0.7050,0.6908,0.6955,0.6629,-9999.0000,-9999.0000,0.0095,0.0183,0.0080,0.0153,-9999.0000,-9999.0000
OursGlobal,0.7888,0.7956,0.7936,0.7953,0.7989,0.8014,0.0107,0.0079,0.0062,0.0068,0.0066,0.0066
hardMV,0.6322,0.7125,0.6630,0.7128,0.7158,0.6777,0.0606,0.0127,0.0335,0.0117,0.0155,0.0193
Raykar,0.8157,0.8082,0.7741,0.7114,-9999.0000,-9999.0000,0.0048,0.0052,0.0107,0.0164,-9999.0000,-9999.0000
softMV,0.6427,0.6587,0.6535,0.6359,0.6086,0.6699,0.0287,0.0317,0.0224,0.0286,0.0327,0.0114
OursIndividualK,0.7944,0.7992,0.8087,0.8025,0.8057,0.8085,0.0062,0.0064,0.0052,0.0080,0.0020,0.0026

In [15]:
t, t_std = create_df(methods_list,to_check, "(R) JS mean", digits=3)
#t, t_std = create_df(methods_list,to_check, "(R) NormF mean")
t.merge(t_std, left_index=True, right_index=True)

,100_x,500_x,1500_x,3500_x,6000_x,10000_x,100_y,500_y,1500_y,3500_y,6000_y,10000_y
OursIndividualT,0.036,0.030,0.034,0.045,0.047,0.062,0.006,0.003,0.007,0.004,0.003,0.005
DS,0.023,0.089,0.172,0.265,-9999.000,-9999.000,0.001,0.001,0.001,0.002,-9999.000,-9999.000
OursGlobal,0.102,0.097,0.100,0.094,0.101,0.098,0.014,0.006,0.005,0.008,0.009,0.006
hardMV,0.067,0.063,0.062,0.063,0.062,0.063,0.008,0.004,0.001,0.002,0.001,0.000
Raykar,0.013,0.054,0.131,0.211,-9999.000,-9999.000,0.000,0.001,0.003,0.001,-9999.000,-9999.000
softMV,0.067,0.063,0.062,0.063,0.062,0.062,0.008,0.003,0.001,0.001,0.001,0.001
OursIndividualK,0.040,0.034,0.040,0.059,0.062,0.072,0.007,0.012,0.009,0.010,0.002,0.003

In [17]:
t, t_std = create_df(methods_list,to_check,"(G) JS", digits=3)
#t, t_std = create_df(methods_list,to_check,"(G) NormF")
t.merge(t_std, left_index=True, right_index=True)

,100_x,500_x,1500_x,3500_x,6000_x,10000_x,100_y,500_y,1500_y,3500_y,6000_y,10000_y
OursIndividualT,0.025,0.019,0.019,0.022,0.017,0.018,0.004,0.003,0.003,0.003,0.003,0.004
DS,0.000,0.001,0.002,0.002,-9999.000,-9999.000,0.000,0.000,0.000,0.000,-9999.000,-9999.000
OursGlobal,0.069,0.066,0.069,0.062,0.068,0.063,0.011,0.007,0.006,0.005,0.011,0.004
hardMV,0.010,0.010,0.010,0.010,0.010,0.010,0.001,0.000,0.000,0.000,0.000,0.000
Raykar,0.002,0.024,0.087,0.156,-9999.000,-9999.000,0.000,0.001,0.003,0.001,-9999.000,-9999.000
softMV,0.007,0.007,0.007,0.007,0.007,0.007,0.000,0.000,0.000,0.000,0.000,0.000
OursIndividualK,0.017,0.019,0.025,0.034,0.031,0.026,0.003,0.005,0.006,0.007,0.002,0.005

In [ ]:
aux = t.merge(t_std, left_index=True, right_index=True)*100
print(tabulate(aux,headers='keys',tablefmt='latex'))

In [20]:
aux = t.merge(t_std, left_index=True, right_index=True)#*100 #solo acc
aux_str = tabulate(aux,headers='keys',tablefmt='latex').split("\n")[2:-2]
columns = [a.replace('\\' , '').strip() for a in aux_str[0].split("&")[1:]]

text = "" 
for value in aux_str[2:]:
    split_v = [a.replace('\\' , '').strip() for a in value.split("&")]
    text += split_v[0].strip() + " & "
    for i, a in enumerate(split_v[1:]):
        if "x" in columns[i]:
            for j, b in enumerate(split_v[1:]):
                if columns[i].replace("x","y") == columns[j]:
                    text += "$"+ str(a) + " \pm " + str(b)+ "$"
                    if columns[j] != columns[-1]: #si no es el ultimo
                        text +=   " & "   
    text += " \\\ \n"
print(text)

Ann(tr) & $73.14 \pm 0.91$ & $73.14 \pm 0.91$ & $73.14 \pm 0.91$ & $73.14 \pm 0.91$ & $73.14 \pm 0.91$ & $73.14 \pm 0.91$ \\
OursIndividualT & $80.59 \pm 0.36$ & $80.88 \pm 0.69$ & $81.21 \pm 0.8$ & $80.83 \pm 0.63$ & $81.02 \pm 0.39$ & $81.46 \pm 0.85$ \\
DS & $70.5 \pm 0.95$ & $69.08 \pm 1.83$ & $69.55 \pm 0.8$ & $66.29 \pm 1.53$ & $-999900 \pm -999900$ & $-999900 \pm -999900$ \\
OursGlobal & $78.88 \pm 1.07$ & $79.56 \pm 0.79$ & $79.36 \pm 0.62$ & $79.53 \pm 0.68$ & $79.89 \pm 0.66$ & $80.14 \pm 0.66$ \\
hardMV & $63.22 \pm 6.06$ & $71.25 \pm 1.27$ & $66.3 \pm 3.35$ & $71.28 \pm 1.17$ & $71.58 \pm 1.55$ & $67.77 \pm 1.93$ \\
Raykar & $81.57 \pm 0.48$ & $80.82 \pm 0.52$ & $77.41 \pm 1.07$ & $71.14 \pm 1.64$ & $-999900 \pm -999900$ & $-999900 \pm -999900$ \\
softMV & $64.27 \pm 2.87$ & $65.87 \pm 3.17$ & $65.35 \pm 2.24$ & $63.59 \pm 2.86$ & $60.86 \pm 3.27$ & $66.99 \pm 1.14$ \\
OursIndividualK & $79.44 \pm 0.62$ & $79.92 \pm 0.64$ & $80.87 \pm 0.52$ & $80.25 \pm 0.8$ & $80.57 \pm 0.2$ & $80.85 \pm 0.26$ \\

In [15]:
t, t_std = create_df(methods_list,to_check,"Iner JS")
#t, _ = create_df(methods_list,to_check,"Iner NormF")
t.merge(t_std, left_index=True, right_index=True)

,100_x,500_x,1500_x,3500_x,6000_x,10000_x,100_y,500_y,1500_y,3500_y,6000_y,10000_y
Ann(tr),0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
OursIndividualK,0.2654,0.2844,0.2770,0.3091,0.3112,0.3325,0.0,0.0,0.0,0.0,0.0,0.0
DS,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
hardMV,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
Raykar,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
softMV,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
OursGlobal,0.0961,0.0927,0.0943,0.1100,0.0969,0.1013,0.0,0.0,0.0,0.0,0.0,0.0
OursIndividualT,0.3076,0.3232,0.3532,0.4043,0.4717,0.4963,0.0,0.0,0.0,0.0,0.0,0.0